.loginColor{
    --tw-text-opacity: 1;
    color: rgba(47, 76, 121);
}

.hover\:loginColor:hover {
    --tw-text-opacity: 1;
    color: rgba(47, 76, 121, 0.9);
}


.sign_in_bg-blue{
    background-color: #2F4C79 !important;
}

.hover\:sign_in_bg-blue:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(47, 76, 121 / var(--tw-bg-opacity))!important;
}
