.paragraph{
    font-family: "Times New Roman", serif;
}
.title{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
}
.capitalTitle{
    font-family: "Univers LT Std 93 Extra Black Extended", Open Sans, Noto Sans Japanese, Arial Black;
    text-transform: uppercase;
}
.check-boeder-blue{
    border-color: rgba(47, 76, 121,0.9);
}
.blue{
    color: rgba(47, 76, 121,1);
}
.red{
    color: rgb(200, 35, 55);
}
.orange{
   color:rgb(224, 98, 54) ;  
}